/* ------------------------------------*/
/*         Overview Cover              */
/* ------------------------------------*/
.overview_cover {
  height: 300px;
  width: 100%;
}

.overview_cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------------------------------------*/
/*         Overview Cover              */
/* ------------------------------------*/
.wrapper {
  max-width: 800px;
  padding-top: 30px;
  display: block;
}

.para {
  line-height: 2.5rem;
  word-spacing: 0.1rem;
  color: var(--color-secondary);
  margin-bottom: 20px;
}

.project_title {
  color: var(--color-primary);
  margin-bottom: 20px;
}
